

.Questions {
    grid-area: questions;
}

.Questions ol {
    margin-top: 10px;
    list-style-type: hebrew;
}

.Questions ol li {
    margin-bottom: 1rem;
}

@media print {
    .Questions ol li {
        margin-bottom: 0.2rem;
    }
}

.Questions .questions-section {
    margin-bottom: 0.5rem;

}


.Questions .title {
    font-weight: 500;

}

.Questions .question {

}

.Questions .answer {

}

table {
    border: 1px solid #333;
}

td {
    border: 1px solid #333;
}


.Questions label {
    /*width: 100%;*/
    display: flex;
}

.code-column {
    width: 50px;
    text-align: center;
}


.organ-column {
    width: 100px;
}