.DamagePointDescriptions {
    display: flex;
    grid-area: damage-point-descriptions;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width:100%;
}

.DamagePointDescriptions table td,
.DamagePointDescriptions table th {
    white-space:pre;
    border: 1px solid #ddd;
}

.DamagePointDescriptions .enter-damage-msg {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: auto;
}

.delete {
    width: 20px;
}

.index {
    width: 20px;
}