.DamagePointDescriptions {
    display: flex;
    grid-area: damage-point-descriptions;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width:100%;
}

.DamagePointDescriptions table {
    width: 100%;
    border: 1px solid #ddd;
}

.DamagePointDescriptions table td,
.DamagePointDescriptions table th {
    white-space:pre;
    border: 1px solid #ddd;
}

.delete {
    width: 20px;
}

.index {
    width: 20px;
}