.TopSection {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: flex-end;

}

.FormInfoSection table {
    table-layout: fixed;
    border: none;
    width: 100%;
}

.FormInfoSection .no-border>td{
    border: none;
}

.TopSection .top {
    text-align: center;
}

.TopSection .title {
    margin: 20px 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;

}

.TopSection .title .sub-title {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.TopSection .logo {
    width: 100px;
    height:100px;
    margin-top: auto;
    background: url("./logo.jpg") no-repeat;
    background-size: contain;
}

.TopSection .sticker {
    text-align: center;
    border: 2px solid #000;
    font-size: 24px;
    font-weight: bold;
    width: 300px;
    height: 100px;
    margin: 10px 20px;
    line-height: 100px;
}

.bg-light-gray {
    background: var(--background2);
}
textarea {
    width: 100%;
}

.CTSection {
    width: 320px;
    margin-top: 20px;
}