.App {
  /*text-align: center;*/
  width: 100%;
  grid-gap: 10px;
  padding: 0;
  margin: 0;
}

@media screen  {
  .App {
    width: 1024px;
    margin:auto;
  }
}


@media print  {
  .App 
  {
    display: grid;
    grid-template-areas: "left-panel  right-panel";
    grid-template-columns: 50% 50%;
    width: 100%;
    grid-gap: 3px;
    padding: 0;
    margin: 0;
    font-size: 8px;
    
  }
  input {
    border: none; 
  }
}


@media print{@page {size: A4 landscape;}}


/* hide buttons in print media query */
@media print {
  .no-print {
    display: none !important;

  }
  body{
    margin: 7mm 7mm 7mm 7mm;
  }
  input{
    padding: 0px;
    margin: 0px;
    font-size:8px;
  }
  li {
    margin-bottom:0px;
  }
}

table {
    width: 100%;
    border: 1px solid #444;
    border-collapse: collapse;
}
table td {
    border: 1px solid #444;
}

button {
 appearance: none;
 background-color: #2ea44f;
 border: 1px solid rgba(27, 31, 35, .15);
 border-radius: 6px;
 box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
 box-sizing: border-box;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
 font-size: 14px;
 font-weight: 600;
 line-height: 20px;
 padding: 6px 16px;
 position: relative;
 text-align: center;
 text-decoration: none;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: middle;
 white-space: nowrap;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #2c974b;
}

button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}